body{
    margin-top: 0;
    background: url("../fonts/Background.jpg");
}
html{
    padding: 0;
}
a {
    cursor: pointer;
}
.titleBanner{
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
}
.player{
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 90%;
}
.player:not(:last-child){
    border-bottom: 1px #fff solid;
}
.playerName {
    word-break: break-all;
}
.anytime, .gem{
    height: 100px !important;
    width: 100px !important;
}
.waves-effect.waves-purple-darken-4 .waves-ripple {
    background-color: #4a148c;
}
.btn-floating img {
    height: auto;
    width: 40px;
}